body {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: auto;
    background-image: url('https://img.freepik.com/vetores-premium/padrao-de-vetor-de-cinema-de-filme-doodle-estilo-de-esboco-desenhado-a-mao-padrao-perfeito-de-filme-elementos-de-cinema-para-producao-de-midia-festival-fundo-de-teatro-vector_253081-1506.jpg'); 
    color: #fff; 
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}

p {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}

select {
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    margin-top: 20px;
    font-size: 1.2em;
}
